<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/desktop.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/taskbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/blue.css}" />
</head>
<body>
<section id="viewport">

</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/drag.js}"></script>
</body>
</html>